* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(207, 67%, 22%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(192, 192, 189);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 60px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.clearfix {
  clear: both;
}

.banner {
  background-image: url(./images/grey.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 100%;
  color: white;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sidebar {
  margin: 50px 25px;
  width: 10%;
  float: left;
  font-size: 60px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-info {
  font-size: 28px;
  border-left: 5px solid var(--primary-color);
  flex: 2 70%;
  display: table;
  padding: 50px 25px;
  margin: 15px;
}

.work {
  display: flex;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2 70%;
  padding: 50px 25px;
  margin: 15px;
  border-left: 5px solid var(--primary-color);
}

.work-text {
  margin-bottom: 10px;
  width: 160px;
  height: 80px;
  display: block;
  background: rgb(192, 192, 189);
  color: var(--primary-color);
  opacity: 100%;
}

.work-text:hover {
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  text-shadow: none;
  transition: 1s;
  left: 0;
}

.work-item-big {
  width: 80%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color: rgb(192, 192, 189);
  margin-bottom: 15px;
  background-image: url(./images/surf.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  position: relative;
  opacity: 50%;
  transition: 0.5s;
}

.work-item-big:hover {
  opacity: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.work-item-a {
  width: 37.5%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color: rgb(192, 192, 189);
  margin: 0 50px 15px 50px;
  background-image: url(./images/LEDwall.jpeg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  position: relative;
  opacity: 50%;
  transition: 0.5s;
}

.work-item-a:hover {
  opacity: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.work-item-b {
  width: 37.5%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color: rgb(192, 192, 189);
  margin: 0 50px 15px 50px;
  background-image: url(./images/calculator.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  position: relative;
  opacity: 50%;
  transition: 0.5s;
}

.work-item-b:hover {
  opacity: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.work-item-c {
  width: 37.5%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color: rgb(192, 192, 189);
  margin: 0 50px 15px 50px;
  background-image: url(./images/robots.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  min-height: 250px;
  display: block;
  position: relative;
  text-decoration: none;
  opacity: 50%;
  transition: 0.5s;
}

.work-item-c:hover {
  opacity: 100%;
  transition: 0.5s;
}

.work-item-d {
  width: 37.5%;
  border-radius: 14px;
  border: 4px solid var(--primary-color);
  background-color: rgb(192, 192, 189);
  margin: 0 50px 15px 50px;
  background-image: url(./images/run-buddy.png);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  min-height: 250px;
  display: block;
  position: relative;
  text-decoration: none;
  opacity: 50%;
  transition: 0.5s;
}

.work-item-d:hover {
  opacity: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#contact-me {
  display: flex;
  justify-content: start;
}

.contact {
  flex: 5 70%;
  padding: 50px 25px;
  align-items: center;
  display: flex;
  border-left: 5px solid var(--primary-color);
  margin: 15px;
  justify-content: space-between;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 28px;
  width: 100%;
}

.contact ul li a {
  padding: 15px 20px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  display: table;
  margin: 0px auto 0px auto;
  text-decoration: none;
}

.contact ul li a:hover {
  background: var(--primary-color);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

footer {
  background: rgb(192, 192, 189);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 1038px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 40px;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .intro {
    flex-direction: column;
  }

  .about-info {
    width: 100%;
  }

  .work {
    flex-direction: column;
  }

  .contact {
    width: 100%;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact ul li a {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .work-item-a {
    margin: 0 20px 15px 20px;
  }

  .work-item-b {
    margin: 0 20px 15px 20px;
  }

  .work-item-c {
    margin: 0 20px 15px 20px;
  }

  .work-item-d {
    margin: 0 20px 15px 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .banner {
    background-attachment: local;
  }
}

@media screen and (max-width: 575px) {
  .contact ul {
    width: 75%;
    display: flex;
    align-items: flex-start;
  }

  .contact ul li a {
    font-size: 29px;
    padding: 15px 0;
  }

  .sidebar {
    margin: 50px 0;
  }

  .work-item-a {
    width: fit-content;
  }

  .work-item-b {
    width: fit-content;
  }

  .work-item-c {
    width: fit-content;
  }

  .work-item-d {
    width: fit-content;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
